<%= bootstrap_form_for artist do |f| %>
    <div>
        <%= f.text_field :name%>
    </div>
    
    <div class = "form-group">
        <label for="artist_nationality">Nationality</label>
        <%= f.country_select :nationality, class: "form-control", priority_countries: ["KR", "US", "JP"] %> <!-- priority_countries : 우선순위 나라들 먼저 보여줌 -->
    </div>
    
    <div>
        <%= f.file_field :image, accept: 'image/jpeg, image/jpg, image/gif, image/png' %>
    </div>
    
    <%= f.submit %>
<% end %>


<script>
    $('#artist_image').on('change',function(){
        //get the file name
        var fileName = $(this).val().replace(/^.*[\\\/]/,''); //replace 이후는 주소를 나타내지 않으려고
        //replace the "Choose a file" label
        $(this).next('.custom-file-label').html(fileName);
    })
</script>